[Unit]
Description=Akeydo service
Before=libvirtd.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/akeydo

[Install]
WantedBy=multi-user.target
